 @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: sans-serif;
 }

 #sidebar-logo {
     width: 180px;
     height: auto;
     display: block;
     margin: 0 auto;
     max-height: 100px;
 }

 .top-nav {
     display: none;
 }

 .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     width: 200px;
     height: 100%;
     background-color: #F6F1F6 transparent;
     overflow-y: auto;
     transition: width 0.3s;
     z-index: 1000;
     box-shadow: 4px 0 8px rgba(1, 0, 0, 0.3);
 }

 .navbar-brand {
     padding: 15px;
     color: #000;
     text-align: center;
     margin-bottom: 20px;
 }

 .navbar-brand h2 {
     margin: 0;
 }

 .sidebar a {
     display: flex;
     align-items: center;
     padding: 15px;
     color: #000;
     text-decoration: none;
     transition: background-color 0.2s;
 }

 .sidebar a:hover {
     background-color: #7952B3;
     color: #fff;
 }

 .sidebar a i {
     margin-right: 10px;
     font-size: 1.2em;
 }

 .main-content {
     transition: margin-left 0.3s ease;
     margin-left: 200px;
     padding: 20px;
     flex: 1;
 }

 .card {
     margin-bottom: 20px;
 }

 .card-title {
     display: inline-block;
     margin-right: 10px;
 }

 .card-icon {
     float: right;
 }

 .dropdown-content {
     display: none;
     background-color: #f9f9f9;
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     padding: 8px 16px;
 }

 .dropdown-content a {
     text-decoration: none;
     display: block;
     color: #000;
     padding: 8px 16px;
 }

 .dropdown-content a:hover {
     background-color: #ddd;
 }

 .status-approved {
     color: green;
     font-weight: bold;
 }

 .status-rejected {
     color: red;
     font-weight: bold;
 }

 .status-pending {
     color: orange;
     font-weight: bold;
 }

 .status-make_up {
     color: darkslateblue;
     font-weight: bold;
 }

 .status-voided {
     color: purple;
     font-weight: bold;
 }

 .status-default {
     color: gray;
     font-weight: bold;
 }

 .addcomission-btn {
     position: absolute;
     top: 20px;
     right: 20px;
     z-index: 1000;
 }

 .addpayin-btn {
     position: absolute;
     top: 20px;
     right: 20px;
     z-index: 1000;
 }

 .btn-excel {
     background-color: green;
     color: white;
     border: none;
 }

 .btn-excel:hover {
     background-color: darkgreen;
 }

 .btn-print {
     background-color: blue;
     color: white;
     border: none;
 }

 .btn-print:hover {
     background-color: darkblue;
 }

 .addpayout-btn {
     position: absolute;
     top: 20px;
     right: 20px;
     z-index: 1000;
 }

 .btn-excel span,
 .btn-print span {
     color: white;
 }

 .addtransaction-btn {
     position: absolute;
     top: 20px;
     right: 20px;
     z-index: 1000;
 }

 .mobile-nav {
     display: none;
 }

 @media (max-width: 768px) {
     .sidebar {
         display: none;
     }

     .mobile-nav {
         display: flex;
         position: fixed;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 50px;
         background-color: #7952B3;
         justify-content: space-around;
         align-items: center;
         z-index: 1000;
         font-size: 11px;
         padding: 0;
         margin: 0;
     }

     .mobile-nav a {
         flex-grow: 1;
         text-align: center;
         padding: 10px;
         color: #fff;
         text-decoration: none;

     }

     .mobile-nav a i {
         display: block;
         margin: 0 auto;
         margin-bottom: 5px;
     }

     .mobile-nav a:hover {
         background-color: #2a0533;
     }

     .main-content {
         margin-left: 0;
         padding-bottom: 60px;
         padding-top: 30px;
         margin-top: 50px;
         margin-bottom: 50px;

     }

     .top-nav {
         display: flex;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 60px;
         background-color: #fff;
         justify-content: space-between;
         align-items: center;
         padding: 0 10px;
         z-index: 1000;
     }

     .top-nav-left img {
         height: 60px;
     }

     .top-nav-right a {
         color: #fff;
         text-decoration: none;
         font-size: 24px;
         margin-left: 15px;
     }

     .main-content {
         padding-top: 60px;
         /* Adjust this to prevent content overlap with top nav */
     }

     .dropdown {
         position: relative;
         display: inline-block;

     }

     .dropdown-toggle {
         background: #7952B3;
         border: none;
         cursor: pointer;
         font-size: 1.5em;
     }

     .dropdown-menu {
         display: none;
         position: absolute;
         left: 0;
         background-color: #fff;
         border: 1px solid #ddd;
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
         z-index: 1000;
         min-width: 160px;
         margin-right: 10px;
     }

     .dropdown-menu {
         right: 0;
         /* Align to the right */
         left: auto;
         /* Remove default left alignment */
     }

     .dropdown-menu a {
         display: block;
         padding: 8px 16px;
         text-decoration: none;
         color: #333;
         font-size: 1em;
     }

     .dropdown-menu a:hover {
         background-color: #f1f1f1;
     }

     .dropdown:hover .dropdown-menu {
         display: block;
     }

     .dropdown-content {
         display: none;
         background-color: #f9f9f9;
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
         padding: 8px 16px;
     }

     .dropdown-content a {
         text-decoration: none;
         display: block;
         color: #000;
         padding: 8px 16px;
     }

     .dropdown-content a:hover {
         background-color: #ddd;
     }

 }


 /* Custom styles for mobile view */
 @media (max-width: 767.98px) {
     .main-contentprofile {
         display: none;
     }

     .mobile-viewprofile {
         display: block;
         padding-top: 20px;
         margin-top: 20px;
         padding-bottom: 100px;
     }

     #pendingBtn,
     #historyBtn {
         margin-right: 40px;
         margin-left: 40px;
     }

     .statusFilters {
         display: none;
     }

 }

 /* Custom styles for desktop view */
 @media (min-width: 768px) {
     .mobile-viewprofile {
         display: none;
     }

     .main-contentprofile {
         display: block;
     }

     #pendingBtn,
     #historyBtn {
         display: none;
     }
 }

 .nav {
     background-color: #F6F1F6 transparent;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;

 }

 .nav .btn {
     color: #fff;
 }

 .dropdown {
     position: relative;
 }

 .dropdown-toggle {
     cursor: pointer;
 }

 .dropdown-content {
     display: none;
     background-color: #6b03b1;
     padding-left: 20px;
 }

 .dropdown-content a {
     padding: 10px 15px;
     text-decoration: none;
     font-size: 16px;
     color: #ecf0f1;
     display: block;
     transition: 0.3s;
 }

 .dropdown-content a:hover {
     background-color: #39065c;
 }
